
<!DOCTYPE html>
<html>
<head>
	<title>Add Item</title>
</head>
<body>
	<h1>Fill in the Details to add an Item</h1>
	<%= form_for(:item, :url => {:controller => 'home', :action => 'add_item'}) do %>
		<label for="item_name">Item Name</label>
		<%= text_field_tag(:item_name) %>

		<label for="item_category">Item Category</label>
		<%= text_field_tag(:item_category) %>
		<%= submit_tag("Add") %>
	<% end %>
</body>
</html>