<style type="text/css">
	a{
		decoration: none;
	}
	.row{
		margin-top: 2em;
	}

	.stat span {
    font-size: 80px;

	}
    .stat_border{
    	border: 1px solid grey;
    	padding: 10px;
    	margin: 0.1em;
  	}
</style>
<div class="row">
	<form class="form" action="/search/barcode">
		<div class="input-group">
			<input id ="search_item" type="text" name="search_item" placeholder="Search" class="form-control" /> 
			<span class="input-group-addon btn btn-success"><button>Search</button></span>
		</div>
		
	</form>
</div>
<div class="row stat">
<%# @item_stats.each do |stat| %>
	
<%# end %>
 <% @item_category.each do |categories| %>
 <%#= categories.item_category_id %>
 	

	<form method="get" action="/search/view">
		<input type="hidden" value="<%= categories.item_category_id %>" name="category_id" />
		<button class=" col-lg-3 col-md-3 col-sm-3  stat_border ">
			<span class="badge">
				<%= 
				sql = "SELECT item_category_id FROM item WHERE item_category_id = #{categories.item_category_id}"
				Item.find_by_sql(sql).count %>
			</span>
			<p class="text-center"><%= categories.name %></p>	
		</button>
	</form>
	<% end %>
</div>
<div id = "testdisplay"></div>

<script type="text/javascript">
	function barcodeSearch () {
		// body...
		var barcode = document.getElementById("search_item");
		if (barcode.value.match(/\$$/)){
			window.location ="/search/barcode?search_item="+barcode.value.trim().replace(/\$$/,"");
			document.getElementById("testdisplay").innerHTML = window.location;
		}
		else{
			barcode.focus();
		}
	}
	setInterval(function () {
		barcodeSearch()}, 1000); 
	
</script>