<style type="text/css">
	a{
		decoration: none;
	}
	.row{
		margin-top: 2em;
	}

	.stat span {
    font-size: 80px;

	}
    .stat_border{
    	border: 1px solid grey;
    	padding: 10px;
    	margin: 0.1em;
  	}
</style>
<div class="row">
	<form class="form">
		<div class="input-group">
			<input type="text" name="search" placeholder="Search" class="form-control" /> 
			<span class="input-group-addon btn btn-success"><button>Search</button></span>
		</div>
		
	</form>
</div>
<div class="row stat">
<%# @item_stats.each do |stat| %>
	
<%# end %>
 <% @item_category.each do |categories| %>
 <%#= categories.item_category_id %>
 	

	<form method="get" action="/search/view">
		<input type="hidden" value="<%= categories.item_category_id %>" name="category_id" />
		<button class=" col-lg-3 col-md-3 col-sm-3  stat_border ">
			<span class="badge">
				<%= 
				sql = "SELECT item_category_id FROM item WHERE item_category_id = #{categories.item_category_id}"
				Item.find_by_sql(sql).count %>
			</span>
			<p class="text-center"><%= categories.name %></p>	
		</button>
	</form>
	<% end %>
</div>