<style>
  .row {
  }

  .col {
    display: inline;
  }

  .container-menu-options {
    text-align: left;
  }

  .row a {
    line-height: 1.3em;
    margin: 10px;
    min-height: 90px;
    padding: 20px 10px;
    text-align: center;
    vertical-align: top;
    width: 150px;
    background: #dddddd -moz-linear-gradient(center top , #ffffff, #dddddd) repeat scroll 0 0;
    border: 1px solid #dddddd;
    border-radius: 3px;
    color: #363463;
    cursor: pointer;
    display: inline-block;
    max-width: 300px;
    min-width: 0;
    text-decoration: none;
  }

  .row span {
    font-size: 80px;
  }

</style>


<div class="container">
	<div class="container-menu-options">
    		<div class="col">
      			<a href="/search/borrow"><span class="glyphicon glyphicon-thumbs-up"></span> <br />Borrow</a>
    		</div>
    		<div class="col">
      			<a href="/search/return"><span class="glyphicon glyphicon-thumbs-up"></span> <br />Return</a>
    		</div>
    		<div class="col">
      			<a href="/search/request"><span class="glyphicon glyphicon-thumbs-up"></span> <br />View request</a>
    		</div>
		<hr>
	</div>
</div>
